<!Doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/semantic/semantic.min.css">
    <title>Demo</title>
</head>
<body>
<h1>Bonjour tout le monde !</h1>
<p><%= message %></p>

<div class="ui fixed inverted menu">
    <a href="/" class="header item">Accueil</a>
</div>